.dxHtmlEditor_Icons_heCut_Office2003Olive,
.dxHtmlEditor_Icons_heCutDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heCopy_Office2003Olive,
.dxHtmlEditor_Icons_heCopyDisabled_Office2003Olive,
.dxHtmlEditor_Icons_hePaste_Office2003Olive,
.dxHtmlEditor_Icons_hePasteDisabled_Office2003Olive,
.dxHtmlEditor_Icons_hePasteFromWord_Office2003Olive,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heUndo_Office2003Olive,
.dxHtmlEditor_Icons_heUndoDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heRedo_Office2003Olive,
.dxHtmlEditor_Icons_heRedoDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heBold_Office2003Olive,
.dxHtmlEditor_Icons_heBoldDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heItalic_Office2003Olive,
.dxHtmlEditor_Icons_heItalicDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heUnderline_Office2003Olive,
.dxHtmlEditor_Icons_heUnderlineDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heStrikethrough_Office2003Olive,
.dxHtmlEditor_Icons_heStrikethroughDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heCenter_Office2003Olive,
.dxHtmlEditor_Icons_heCenterDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heLeft_Office2003Olive,
.dxHtmlEditor_Icons_heLeftDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heRight_Office2003Olive,
.dxHtmlEditor_Icons_heRightDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heJustifyFull_Office2003Olive,
.dxHtmlEditor_Icons_heJustifyFullDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heSuperscript_Office2003Olive,
.dxHtmlEditor_Icons_heSuperscriptDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heSubscript_Office2003Olive,
.dxHtmlEditor_Icons_heSubscriptDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heIndent_Office2003Olive,
.dxHtmlEditor_Icons_heIndentDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heOutdent_Office2003Olive,
.dxHtmlEditor_Icons_heOutdentDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertOrderedList_Office2003Olive,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertUnorderedList_Office2003Olive,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertImageDialog_Office2003Olive,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertLinkDialog_Office2003Olive,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableDialog_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableDialog_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableCellDialog_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableRowDialog_Office2003Olive,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableRowAbove_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableRowBelow_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Office2003Olive,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Office2003Olive,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heSplitTableCellVertical_Office2003Olive,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Office2003Olive,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heMergeTableCellVertical_Office2003Olive,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heDeleteTable_Office2003Olive,
.dxHtmlEditor_Icons_heDeleteTableDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heDeleteTableColumn_Office2003Olive,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heDeleteTableRow_Office2003Olive,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heUnlink_Office2003Olive,
.dxHtmlEditor_Icons_heUnlinkDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heBackColor_Office2003Olive,
.dxHtmlEditor_Icons_heBackColorDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heForeColor_Office2003Olive,
.dxHtmlEditor_Icons_heForeColorDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heRemoveFormat_Office2003Olive,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Office2003Olive,
.dxHtmlEditor_Icons_hePrint_Office2003Olive,
.dxHtmlEditor_Icons_hePrintDisabled_Office2003Olive,
.dxHtmlEditor_Icons_heCheckSpelling_Office2003Olive,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Office2003Olive,
.dxHtmlEditor_heToolbarPopOut_Office2003Olive,
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2003Olive,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2003Olive,
.dxHtmlEditor_heConstrainProportionsBottom_Office2003Olive,
.dxHtmlEditor_heConstrainProportionsTop_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2003Olive,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2003Olive {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxHtmlEditor_Icons_heCut_Office2003Olive {
    background-position: -48px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCutDisabled_Office2003Olive {
    background-position: -72px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopy_Office2003Olive {
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopyDisabled_Office2003Olive {
    background-position: -24px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePaste_Office2003Olive {
    background-position: -96px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteDisabled_Office2003Olive {
    background-position: -120px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWord_Office2003Olive {
    background-position: -144px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWordDisabled_Office2003Olive {
    background-position: -168px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndo_Office2003Olive {
    background-position: -96px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndoDisabled_Office2003Olive {
    background-position: -120px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedo_Office2003Olive {
    background-position: -48px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedoDisabled_Office2003Olive {
    background-position: -72px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBold_Office2003Olive {
    background-position: -48px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBoldDisabled_Office2003Olive {
    background-position: -72px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalic_Office2003Olive {
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalicDisabled_Office2003Olive {
    background-position: -24px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderline_Office2003Olive {
    background-position: -48px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderlineDisabled_Office2003Olive {
    background-position: -72px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethrough_Office2003Olive {
    background-position: -96px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethroughDisabled_Office2003Olive {
    background-position: -120px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenter_Office2003Olive {
    background-position: -96px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenterDisabled_Office2003Olive {
    background-position: -120px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeft_Office2003Olive {
    background-position: -96px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeftDisabled_Office2003Olive {
    background-position: -120px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRight_Office2003Olive {
    background-position: -144px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRightDisabled_Office2003Olive {
    background-position: -168px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFull_Office2003Olive {
    background-position: -48px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFullDisabled_Office2003Olive {
    background-position: -72px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscript_Office2003Olive {
    background-position: 0px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscriptDisabled_Office2003Olive {
    background-position: -24px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscript_Office2003Olive {
    background-position: -144px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscriptDisabled_Office2003Olive {
    background-position: -168px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndent_Office2003Olive {
    background-position: -96px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndentDisabled_Office2003Olive {
    background-position: -120px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdent_Office2003Olive {
    background-position: -48px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdentDisabled_Office2003Olive {
    background-position: -72px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedList_Office2003Olive {
    background-position: -48px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Office2003Olive {
    background-position: -72px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedList_Office2003Olive {
    background-position: -144px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Office2003Olive {
    background-position: -168px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialog_Office2003Olive {
    background-position: -144px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Office2003Olive {
    background-position: -168px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialog_Office2003Olive {
    background-position: 0px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Office2003Olive {
    background-position: -24px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialog_Office2003Olive {
    background-position: 0px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Office2003Olive {
    background-position: -24px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialog_Office2003Olive {
    background-position: -48px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Office2003Olive {
    background-position: -72px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialog_Office2003Olive {
    background-position: -144px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Office2003Olive {
    background-position: -168px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialog_Office2003Olive {
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Office2003Olive {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialog_Office2003Olive {
    background-position: -96px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Office2003Olive {
    background-position: -120px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAbove_Office2003Olive {
    background-position: -48px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Office2003Olive {
    background-position: -72px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelow_Office2003Olive {
    background-position: -96px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Office2003Olive {
    background-position: -120px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Office2003Olive {
    background-position: -96px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Office2003Olive {
    background-position: -120px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Office2003Olive {
    background-position: -144px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Office2003Olive {
    background-position: -168px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Office2003Olive {
    background-position: 0px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Office2003Olive {
    background-position: -24px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVertical_Office2003Olive {
    background-position: -48px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Office2003Olive {
    background-position: -72px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Office2003Olive {
    background-position: -144px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Office2003Olive {
    background-position: -168px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVertical_Office2003Olive {
    background-position: 0px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Office2003Olive {
    background-position: -24px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTable_Office2003Olive {
    background-position: -96px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableDisabled_Office2003Olive {
    background-position: -120px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumn_Office2003Olive {
    background-position: -144px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Office2003Olive {
    background-position: -168px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRow_Office2003Olive {
    background-position: 0px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Office2003Olive {
    background-position: -24px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlink_Office2003Olive {
    background-position: -144px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlinkDisabled_Office2003Olive {
    background-position: -168px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBackColor_Office2003Olive {
    background-position: 0px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heBackColorDisabled_Office2003Olive {
    background-position: -24px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColor_Office2003Olive {
    background-position: -48px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColorDisabled_Office2003Olive {
    background-position: -72px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heRemoveFormat_Office2003Olive {
    background-position: -96px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRemoveFormatDisabled_Office2003Olive {
    background-position: -120px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrint_Office2003Olive {
    background-position: 0px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrintDisabled_Office2003Olive {
    background-position: -24px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpelling_Office2003Olive {
    background-position: -144px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpellingDisabled_Office2003Olive {
    background-position: -168px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_heToolbarPopOut_Office2003Olive {
    background-position: -135px 0px;
    width: 5px;
    height: 3px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2003Olive {
    background-position: -19px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2003Olive {
    background-position: 0px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottom_Office2003Olive {
    background-position: -38px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTop_Office2003Olive {
    background-position: -38px -14px;
    width: 11px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2003Olive {
    background-position: -109px 0px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2003Olive {
    background-position: -122px 0px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2003Olive {
    background-position: -57px -13px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2003Olive {
    background-position: -70px -13px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2003Olive {
    background-position: -57px 0px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2003Olive {
    background-position: -70px 0px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2003Olive {
    background-position: -83px -13px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2003Olive {
    background-position: -96px -13px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2003Olive {
    background-position: -83px 0px;
    width: 9px;
    height: 9px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2003Olive {
    background-position: -96px 0px;
    width: 9px;
    height: 9px;
}


