.dxScheduler_SmartTag_SoftOrange,
.dxScheduler_Tooltip_Empty_SoftOrange,
.dxScheduler_Tooltip_TopRight_SoftOrange,
.dxScheduler_Tooltip_TopLeft_SoftOrange,
.dxScheduler_Tooltip_BottomRight_SoftOrange,
.dxScheduler_Tooltip_BottomLeft_SoftOrange,
.dxScheduler_Tooltip_BottomStem_SoftOrange,
.dxScheduler_NavigationButton_Backward_SoftOrange,
.dxScheduler_NavigationButton_BackwardDisabled_SoftOrange,
.dxScheduler_NavigationButton_BackwardHover_SoftOrange,
.dxScheduler_NavigationButton_Forward_SoftOrange,
.dxScheduler_NavigationButton_ForwardDisabled_SoftOrange,
.dxScheduler_NavigationButton_ForwardHover_SoftOrange,
.dxScheduler_StatusInfo_Error_SoftOrange,
.dxScheduler_StatusInfo_Warning_SoftOrange,
.dxScheduler_StatusInfo_Info_SoftOrange,
.dxScheduler_MoreButton_Top_SoftOrange,
.dxScheduler_MoreButton_TopHover_SoftOrange,
.dxScheduler_MoreButton_Bottom_SoftOrange,
.dxScheduler_MoreButton_BottomHover_SoftOrange,
.dxScheduler_Menu_RecurringAppointment_SoftOrange,
.dxScheduler_Menu_NewAppointment_SoftOrange,
.dxScheduler_Menu_GoToDate_SoftOrange,
.dxScheduler_Menu_Delete_SoftOrange,
.dxScheduler_Appointment_EndArrow_SoftOrange,
.dxScheduler_Appointment_StartArrow_SoftOrange,
.dxScheduler_Appointment_NightClock_SoftOrange,
.dxScheduler_Appointment_DayClock_SoftOrange,
.dxScheduler_Appointment_Reminder_SoftOrange,
.dxScheduler_Appointment_NoRecurrence_SoftOrange,
.dxScheduler_Appointment_Recurrence_SoftOrange,
.dxScheduler_InplaceEditor_Save_SoftOrange,
.dxScheduler_InplaceEditor_Cancel_SoftOrange,
.dxScheduler_InplaceEditor_EditForm_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_55_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_50_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_45_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_40_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_35_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_30_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_25_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_20_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_15_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_10_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_05_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_hour_00_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_55_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_50_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_45_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_40_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_35_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_30_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_25_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_20_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_15_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_10_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_05_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_hour_00_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_55_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_50_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_45_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_40_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_35_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_30_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_25_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_20_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_15_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_10_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_05_SoftOrange,
.dxScheduler_AppointmentClockArrows_day_minute_00_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_55_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_50_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_45_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_40_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_35_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_30_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_25_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_20_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_15_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_10_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_05_SoftOrange,
.dxScheduler_AppointmentClockArrows_night_minute_00_SoftOrange,
.dxScheduler_ResourceNavigator_First_SoftOrange,
.dxScheduler_ResourceNavigator_FirstDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_FirstHover_SoftOrange,
.dxScheduler_ResourceNavigator_PrevPage_SoftOrange,
.dxScheduler_ResourceNavigator_PrevPageDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_PrevPageHover_SoftOrange,
.dxScheduler_ResourceNavigator_Prev_SoftOrange,
.dxScheduler_ResourceNavigator_PrevDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_PrevHover_SoftOrange,
.dxScheduler_ResourceNavigator_Next_SoftOrange,
.dxScheduler_ResourceNavigator_NextDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_NextHover_SoftOrange,
.dxScheduler_ResourceNavigator_NextPage_SoftOrange,
.dxScheduler_ResourceNavigator_NextPageDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_NextPageHover_SoftOrange,
.dxScheduler_ResourceNavigator_Last_SoftOrange,
.dxScheduler_ResourceNavigator_LastDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_LastHover_SoftOrange,
.dxScheduler_ResourceNavigator_Increase_SoftOrange,
.dxScheduler_ResourceNavigator_IncreaseDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_IncreaseHover_SoftOrange,
.dxScheduler_ResourceNavigator_Decrease_SoftOrange,
.dxScheduler_ResourceNavigator_DecreaseDisabled_SoftOrange,
.dxScheduler_ResourceNavigator_DecreaseHover_SoftOrange,
.dxScheduler_ViewNavigator_Backward_SoftOrange,
.dxScheduler_ViewNavigator_Forward_SoftOrange {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxScheduler_SmartTag_SoftOrange {
    background-position: -22px -312px;
    width: 6px;
    height: 9px;
}

.dxScheduler_Tooltip_Empty_SoftOrange {
    background-position: -202px -312px;
    width: 1px;
    height: 1px;
}

.dxScheduler_Tooltip_TopRight_SoftOrange {
    background-position: -627px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_TopLeft_SoftOrange {
    background-position: -598px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomRight_SoftOrange {
    background-position: -507px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomLeft_SoftOrange {
    background-position: -478px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomStem_SoftOrange {
    background-position: -536px -237px;
    width: 40px;
    height: 53px;
}

.dxScheduler_NavigationButton_Backward_SoftOrange {
    background-position: -354px -133px;
    width: 34px;
    height: 19px;
}

.dxScheduler_NavigationButton_BackwardDisabled_SoftOrange {
    background-position: -395px -133px;
    width: 34px;
    height: 19px;
}

.dxScheduler_NavigationButton_BackwardHover_SoftOrange {
    background-position: -436px -133px;
    width: 34px;
    height: 19px;
}

.dxScheduler_NavigationButton_Forward_SoftOrange {
    background-position: -477px -133px;
    width: 34px;
    height: 19px;
}

.dxScheduler_NavigationButton_ForwardDisabled_SoftOrange {
    background-position: -518px -133px;
    width: 34px;
    height: 19px;
}

.dxScheduler_NavigationButton_ForwardHover_SoftOrange {
    background-position: -559px -133px;
    width: 34px;
    height: 19px;
}

.dxScheduler_StatusInfo_Error_SoftOrange {
    background-position: -268px -237px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Warning_SoftOrange {
    background-position: -408px -237px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Info_SoftOrange {
    background-position: -338px -237px;
    width: 48px;
    height: 48px;
}

.dxScheduler_MoreButton_Top_SoftOrange {
    background-position: -268px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_MoreButton_TopHover_SoftOrange {
    background-position: -311px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_MoreButton_Bottom_SoftOrange {
    background-position: -182px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_MoreButton_BottomHover_SoftOrange {
    background-position: -225px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_Menu_RecurringAppointment_SoftOrange {
    background-position: -164px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_NewAppointment_SoftOrange {
    background-position: -126px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_GoToDate_SoftOrange {
    background-position: -88px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_Delete_SoftOrange {
    background-position: -50px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Appointment_EndArrow_SoftOrange {
    background-position: -59px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_StartArrow_SoftOrange {
    background-position: -244px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NightClock_SoftOrange {
    background-position: -96px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_DayClock_SoftOrange {
    background-position: -22px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Reminder_SoftOrange {
    background-position: -207px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NoRecurrence_SoftOrange {
    background-position: -133px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Recurrence_SoftOrange {
    background-position: -170px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_InplaceEditor_Save_SoftOrange {
    background-position: -141px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_Cancel_SoftOrange {
    background-position: -59px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_EditForm_SoftOrange {
    background-position: -100px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_AppointmentClockArrows_day_hour_55_SoftOrange {
    background-position: -22px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_50_SoftOrange {
    background-position: -651px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_45_SoftOrange {
    background-position: -614px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_40_SoftOrange {
    background-position: -577px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_35_SoftOrange {
    background-position: -540px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_30_SoftOrange {
    background-position: -503px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_25_SoftOrange {
    background-position: -466px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_20_SoftOrange {
    background-position: -429px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_15_SoftOrange {
    background-position: -392px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_10_SoftOrange {
    background-position: -355px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_05_SoftOrange {
    background-position: -318px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_00_SoftOrange {
    background-position: -281px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_55_SoftOrange {
    background-position: -244px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_50_SoftOrange {
    background-position: -207px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_45_SoftOrange {
    background-position: -170px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_40_SoftOrange {
    background-position: -133px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_35_SoftOrange {
    background-position: -96px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_30_SoftOrange {
    background-position: -59px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_25_SoftOrange {
    background-position: -22px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_20_SoftOrange {
    background-position: -651px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_15_SoftOrange {
    background-position: -614px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_10_SoftOrange {
    background-position: -577px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_05_SoftOrange {
    background-position: -540px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_00_SoftOrange {
    background-position: -503px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_55_SoftOrange {
    background-position: -466px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_50_SoftOrange {
    background-position: -429px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_45_SoftOrange {
    background-position: -392px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_40_SoftOrange {
    background-position: -355px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_35_SoftOrange {
    background-position: -318px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_30_SoftOrange {
    background-position: -281px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_25_SoftOrange {
    background-position: -244px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_20_SoftOrange {
    background-position: -207px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_15_SoftOrange {
    background-position: -170px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_10_SoftOrange {
    background-position: -133px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_05_SoftOrange {
    background-position: -96px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_00_SoftOrange {
    background-position: -59px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_55_SoftOrange {
    background-position: -22px -133px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_50_SoftOrange {
    background-position: -651px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_45_SoftOrange {
    background-position: -614px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_40_SoftOrange {
    background-position: -577px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_35_SoftOrange {
    background-position: -540px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_30_SoftOrange {
    background-position: -503px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_25_SoftOrange {
    background-position: -466px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_20_SoftOrange {
    background-position: -429px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_15_SoftOrange {
    background-position: -392px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_10_SoftOrange {
    background-position: -355px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_05_SoftOrange {
    background-position: -318px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_00_SoftOrange {
    background-position: -281px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_ResourceNavigator_First_SoftOrange {
    background-position: -63px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_FirstDisabled_SoftOrange {
    background-position: -104px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_FirstHover_SoftOrange {
    background-position: -145px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevPage_SoftOrange {
    background-position: -145px -237px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevPageDisabled_SoftOrange {
    background-position: -186px -237px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevPageHover_SoftOrange {
    background-position: -227px -237px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Prev_SoftOrange {
    background-position: -22px -237px;
    width: 22px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevDisabled_SoftOrange {
    background-position: -63px -237px;
    width: 22px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevHover_SoftOrange {
    background-position: -104px -237px;
    width: 22px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Next_SoftOrange {
    background-position: -432px -196px;
    width: 22px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextDisabled_SoftOrange {
    background-position: -473px -196px;
    width: 22px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextHover_SoftOrange {
    background-position: -514px -196px;
    width: 22px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextPage_SoftOrange {
    background-position: -555px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextPageDisabled_SoftOrange {
    background-position: -596px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextPageHover_SoftOrange {
    background-position: -637px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Last_SoftOrange {
    background-position: -309px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_LastDisabled_SoftOrange {
    background-position: -350px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_LastHover_SoftOrange {
    background-position: -391px -196px;
    width: 27px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Increase_SoftOrange {
    background-position: -186px -196px;
    width: 19px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_IncreaseDisabled_SoftOrange {
    background-position: -227px -196px;
    width: 19px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_IncreaseHover_SoftOrange {
    background-position: -268px -196px;
    width: 19px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Decrease_SoftOrange {
    background-position: -600px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_DecreaseDisabled_SoftOrange {
    background-position: -641px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_DecreaseHover_SoftOrange {
    background-position: -22px -196px;
    width: 19px;
    height: 19px;
}

.dxScheduler_ViewNavigator_Backward_SoftOrange {
    background-position: -225px -312px;
    width: 4px;
    height: 7px;
}

.dxScheduler_ViewNavigator_Forward_SoftOrange {
    background-position: -251px -312px;
    width: 4px;
    height: 7px;
}


