.dxScheduler_SmartTag_Youthful,
.dxScheduler_Tooltip_Empty_Youthful,
.dxScheduler_Tooltip_TopRight_Youthful,
.dxScheduler_Tooltip_TopLeft_Youthful,
.dxScheduler_Tooltip_BottomRight_Youthful,
.dxScheduler_Tooltip_BottomLeft_Youthful,
.dxScheduler_Tooltip_BottomStem_Youthful,
.dxScheduler_NavigationButton_Backward_Youthful,
.dxScheduler_NavigationButton_BackwardDisabled_Youthful,
.dxScheduler_NavigationButton_BackwardHover_Youthful,
.dxScheduler_NavigationButton_Forward_Youthful,
.dxScheduler_NavigationButton_ForwardDisabled_Youthful,
.dxScheduler_NavigationButton_ForwardHover_Youthful,
.dxScheduler_StatusInfo_Error_Youthful,
.dxScheduler_StatusInfo_Warning_Youthful,
.dxScheduler_StatusInfo_Info_Youthful,
.dxScheduler_MoreButton_Top_Youthful,
.dxScheduler_MoreButton_TopHover_Youthful,
.dxScheduler_MoreButton_Bottom_Youthful,
.dxScheduler_MoreButton_BottomHover_Youthful,
.dxScheduler_Menu_RecurringAppointment_Youthful,
.dxScheduler_Menu_NewAppointment_Youthful,
.dxScheduler_Menu_GoToDate_Youthful,
.dxScheduler_Menu_Delete_Youthful,
.dxScheduler_Appointment_EndArrow_Youthful,
.dxScheduler_Appointment_StartArrow_Youthful,
.dxScheduler_Appointment_NightClock_Youthful,
.dxScheduler_Appointment_DayClock_Youthful,
.dxScheduler_Appointment_Reminder_Youthful,
.dxScheduler_Appointment_NoRecurrence_Youthful,
.dxScheduler_Appointment_Recurrence_Youthful,
.dxScheduler_InplaceEditor_Save_Youthful,
.dxScheduler_InplaceEditor_Cancel_Youthful,
.dxScheduler_InplaceEditor_EditForm_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_55_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_50_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_45_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_40_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_35_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_30_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_25_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_20_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_15_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_10_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_05_Youthful,
.dxScheduler_AppointmentClockArrows_day_hour_00_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_55_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_50_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_45_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_40_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_35_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_30_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_25_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_20_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_15_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_10_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_05_Youthful,
.dxScheduler_AppointmentClockArrows_night_hour_00_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_55_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_50_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_45_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_40_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_35_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_30_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_25_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_20_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_15_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_10_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_05_Youthful,
.dxScheduler_AppointmentClockArrows_day_minute_00_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_55_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_50_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_45_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_40_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_35_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_30_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_25_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_20_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_15_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_10_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_05_Youthful,
.dxScheduler_AppointmentClockArrows_night_minute_00_Youthful,
.dxScheduler_ResourceNavigator_First_Youthful,
.dxScheduler_ResourceNavigator_FirstDisabled_Youthful,
.dxScheduler_ResourceNavigator_FirstHover_Youthful,
.dxScheduler_ResourceNavigator_PrevPage_Youthful,
.dxScheduler_ResourceNavigator_PrevPageDisabled_Youthful,
.dxScheduler_ResourceNavigator_PrevPageHover_Youthful,
.dxScheduler_ResourceNavigator_Prev_Youthful,
.dxScheduler_ResourceNavigator_PrevDisabled_Youthful,
.dxScheduler_ResourceNavigator_PrevHover_Youthful,
.dxScheduler_ResourceNavigator_Next_Youthful,
.dxScheduler_ResourceNavigator_NextDisabled_Youthful,
.dxScheduler_ResourceNavigator_NextHover_Youthful,
.dxScheduler_ResourceNavigator_NextPage_Youthful,
.dxScheduler_ResourceNavigator_NextPageDisabled_Youthful,
.dxScheduler_ResourceNavigator_NextPageHover_Youthful,
.dxScheduler_ResourceNavigator_Last_Youthful,
.dxScheduler_ResourceNavigator_LastDisabled_Youthful,
.dxScheduler_ResourceNavigator_LastHover_Youthful,
.dxScheduler_ResourceNavigator_Increase_Youthful,
.dxScheduler_ResourceNavigator_IncreaseDisabled_Youthful,
.dxScheduler_ResourceNavigator_IncreaseHover_Youthful,
.dxScheduler_ResourceNavigator_Decrease_Youthful,
.dxScheduler_ResourceNavigator_DecreaseDisabled_Youthful,
.dxScheduler_ResourceNavigator_DecreaseHover_Youthful,
.dxScheduler_ViewNavigator_Backward_Youthful,
.dxScheduler_ViewNavigator_Forward_Youthful {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxScheduler_SmartTag_Youthful {
    background-position: -22px -312px;
    width: 6px;
    height: 9px;
}

.dxScheduler_Tooltip_Empty_Youthful {
    background-position: -202px -312px;
    width: 1px;
    height: 1px;
}

.dxScheduler_Tooltip_TopRight_Youthful {
    background-position: -627px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_TopLeft_Youthful {
    background-position: -598px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomRight_Youthful {
    background-position: -507px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomLeft_Youthful {
    background-position: -478px -237px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomStem_Youthful {
    background-position: -536px -237px;
    width: 40px;
    height: 53px;
}

.dxScheduler_NavigationButton_Backward_Youthful {
    background-position: -354px -133px;
    width: 11px;
    height: 49px;
}

.dxScheduler_NavigationButton_BackwardDisabled_Youthful {
    background-position: -395px -133px;
    width: 11px;
    height: 49px;
}

.dxScheduler_NavigationButton_BackwardHover_Youthful {
    background-position: -436px -133px;
    width: 11px;
    height: 49px;
}

.dxScheduler_NavigationButton_Forward_Youthful {
    background-position: -477px -133px;
    width: 11px;
    height: 49px;
}

.dxScheduler_NavigationButton_ForwardDisabled_Youthful {
    background-position: -518px -133px;
    width: 11px;
    height: 49px;
}

.dxScheduler_NavigationButton_ForwardHover_Youthful {
    background-position: -559px -133px;
    width: 11px;
    height: 49px;
}

.dxScheduler_StatusInfo_Error_Youthful {
    background-position: -268px -237px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Warning_Youthful {
    background-position: -408px -237px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Info_Youthful {
    background-position: -338px -237px;
    width: 48px;
    height: 48px;
}

.dxScheduler_MoreButton_Top_Youthful {
    background-position: -268px -133px;
    width: 19px;
    height: 11px;
}

.dxScheduler_MoreButton_TopHover_Youthful {
    background-position: -311px -133px;
    width: 19px;
    height: 11px;
}

.dxScheduler_MoreButton_Bottom_Youthful {
    background-position: -182px -133px;
    width: 19px;
    height: 11px;
}

.dxScheduler_MoreButton_BottomHover_Youthful {
    background-position: -225px -133px;
    width: 19px;
    height: 11px;
}

.dxScheduler_Menu_RecurringAppointment_Youthful {
    background-position: -164px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_NewAppointment_Youthful {
    background-position: -126px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_GoToDate_Youthful {
    background-position: -88px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_Delete_Youthful {
    background-position: -50px -312px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Appointment_EndArrow_Youthful {
    background-position: -59px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_StartArrow_Youthful {
    background-position: -244px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NightClock_Youthful {
    background-position: -96px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_DayClock_Youthful {
    background-position: -22px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Reminder_Youthful {
    background-position: -207px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NoRecurrence_Youthful {
    background-position: -133px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Recurrence_Youthful {
    background-position: -170px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_InplaceEditor_Save_Youthful {
    background-position: -141px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_Cancel_Youthful {
    background-position: -59px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_EditForm_Youthful {
    background-position: -100px -133px;
    width: 19px;
    height: 19px;
}

.dxScheduler_AppointmentClockArrows_day_hour_55_Youthful {
    background-position: -22px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_50_Youthful {
    background-position: -651px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_45_Youthful {
    background-position: -614px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_40_Youthful {
    background-position: -577px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_35_Youthful {
    background-position: -540px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_30_Youthful {
    background-position: -503px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_25_Youthful {
    background-position: -466px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_20_Youthful {
    background-position: -429px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_15_Youthful {
    background-position: -392px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_10_Youthful {
    background-position: -355px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_05_Youthful {
    background-position: -318px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_00_Youthful {
    background-position: -281px -22px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_55_Youthful {
    background-position: -244px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_50_Youthful {
    background-position: -207px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_45_Youthful {
    background-position: -170px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_40_Youthful {
    background-position: -133px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_35_Youthful {
    background-position: -96px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_30_Youthful {
    background-position: -59px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_25_Youthful {
    background-position: -22px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_20_Youthful {
    background-position: -651px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_15_Youthful {
    background-position: -614px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_10_Youthful {
    background-position: -577px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_05_Youthful {
    background-position: -540px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_00_Youthful {
    background-position: -503px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_55_Youthful {
    background-position: -466px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_50_Youthful {
    background-position: -429px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_45_Youthful {
    background-position: -392px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_40_Youthful {
    background-position: -355px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_35_Youthful {
    background-position: -318px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_30_Youthful {
    background-position: -281px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_25_Youthful {
    background-position: -244px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_20_Youthful {
    background-position: -207px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_15_Youthful {
    background-position: -170px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_10_Youthful {
    background-position: -133px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_05_Youthful {
    background-position: -96px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_00_Youthful {
    background-position: -59px -59px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_55_Youthful {
    background-position: -22px -133px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_50_Youthful {
    background-position: -651px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_45_Youthful {
    background-position: -614px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_40_Youthful {
    background-position: -577px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_35_Youthful {
    background-position: -540px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_30_Youthful {
    background-position: -503px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_25_Youthful {
    background-position: -466px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_20_Youthful {
    background-position: -429px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_15_Youthful {
    background-position: -392px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_10_Youthful {
    background-position: -355px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_05_Youthful {
    background-position: -318px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_00_Youthful {
    background-position: -281px -96px;
    width: 15px;
    height: 15px;
}

.dxScheduler_ResourceNavigator_First_Youthful {
    background-position: -63px -196px;
    width: 21px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_FirstDisabled_Youthful {
    background-position: -104px -196px;
    width: 21px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_FirstHover_Youthful {
    background-position: -145px -196px;
    width: 21px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_PrevPage_Youthful {
    background-position: -145px -237px;
    width: 19px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_PrevPageDisabled_Youthful {
    background-position: -186px -237px;
    width: 19px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_PrevPageHover_Youthful {
    background-position: -227px -237px;
    width: 19px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_Prev_Youthful {
    background-position: -22px -237px;
    width: 14px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_PrevDisabled_Youthful {
    background-position: -63px -237px;
    width: 14px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_PrevHover_Youthful {
    background-position: -104px -237px;
    width: 14px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_Next_Youthful {
    background-position: -432px -196px;
    width: 14px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_NextDisabled_Youthful {
    background-position: -473px -196px;
    width: 14px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_NextHover_Youthful {
    background-position: -514px -196px;
    width: 14px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_NextPage_Youthful {
    background-position: -555px -196px;
    width: 19px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_NextPageDisabled_Youthful {
    background-position: -596px -196px;
    width: 19px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_NextPageHover_Youthful {
    background-position: -637px -196px;
    width: 19px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_Last_Youthful {
    background-position: -309px -196px;
    width: 21px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_LastDisabled_Youthful {
    background-position: -350px -196px;
    width: 21px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_LastHover_Youthful {
    background-position: -391px -196px;
    width: 21px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_Increase_Youthful {
    background-position: -186px -196px;
    width: 15px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_IncreaseDisabled_Youthful {
    background-position: -227px -196px;
    width: 15px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_IncreaseHover_Youthful {
    background-position: -268px -196px;
    width: 15px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_Decrease_Youthful {
    background-position: -600px -133px;
    width: 15px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_DecreaseDisabled_Youthful {
    background-position: -641px -133px;
    width: 15px;
    height: 11px;
}

.dxScheduler_ResourceNavigator_DecreaseHover_Youthful {
    background-position: -22px -196px;
    width: 15px;
    height: 11px;
}

.dxScheduler_ViewNavigator_Backward_Youthful {
    background-position: -225px -312px;
    width: 11px;
    height: 9px;
}

.dxScheduler_ViewNavigator_Forward_Youthful {
    background-position: -251px -312px;
    width: 11px;
    height: 9px;
}


