.dxHtmlEditor_Icons_heCut_RedWine,
.dxHtmlEditor_Icons_heCutDisabled_RedWine,
.dxHtmlEditor_Icons_heCopy_RedWine,
.dxHtmlEditor_Icons_heCopyDisabled_RedWine,
.dxHtmlEditor_Icons_hePaste_RedWine,
.dxHtmlEditor_Icons_hePasteDisabled_RedWine,
.dxHtmlEditor_Icons_hePasteFromWord_RedWine,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_RedWine,
.dxHtmlEditor_Icons_heUndo_RedWine,
.dxHtmlEditor_Icons_heUndoDisabled_RedWine,
.dxHtmlEditor_Icons_heRedo_RedWine,
.dxHtmlEditor_Icons_heRedoDisabled_RedWine,
.dxHtmlEditor_Icons_heBold_RedWine,
.dxHtmlEditor_Icons_heBoldDisabled_RedWine,
.dxHtmlEditor_Icons_heItalic_RedWine,
.dxHtmlEditor_Icons_heItalicDisabled_RedWine,
.dxHtmlEditor_Icons_heUnderline_RedWine,
.dxHtmlEditor_Icons_heUnderlineDisabled_RedWine,
.dxHtmlEditor_Icons_heStrikethrough_RedWine,
.dxHtmlEditor_Icons_heStrikethroughDisabled_RedWine,
.dxHtmlEditor_Icons_heCenter_RedWine,
.dxHtmlEditor_Icons_heCenterDisabled_RedWine,
.dxHtmlEditor_Icons_heLeft_RedWine,
.dxHtmlEditor_Icons_heLeftDisabled_RedWine,
.dxHtmlEditor_Icons_heRight_RedWine,
.dxHtmlEditor_Icons_heRightDisabled_RedWine,
.dxHtmlEditor_Icons_heJustifyFull_RedWine,
.dxHtmlEditor_Icons_heJustifyFullDisabled_RedWine,
.dxHtmlEditor_Icons_heSuperscript_RedWine,
.dxHtmlEditor_Icons_heSuperscriptDisabled_RedWine,
.dxHtmlEditor_Icons_heSubscript_RedWine,
.dxHtmlEditor_Icons_heSubscriptDisabled_RedWine,
.dxHtmlEditor_Icons_heIndent_RedWine,
.dxHtmlEditor_Icons_heIndentDisabled_RedWine,
.dxHtmlEditor_Icons_heOutdent_RedWine,
.dxHtmlEditor_Icons_heOutdentDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertOrderedList_RedWine,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertUnorderedList_RedWine,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertImageDialog_RedWine,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertLinkDialog_RedWine,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertTableDialog_RedWine,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_RedWine,
.dxHtmlEditor_Icons_heChangeTableDialog_RedWine,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_RedWine,
.dxHtmlEditor_Icons_heChangeTableCellDialog_RedWine,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_RedWine,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_RedWine,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_RedWine,
.dxHtmlEditor_Icons_heChangeTableRowDialog_RedWine,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertTableRowAbove_RedWine,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertTableRowBelow_RedWine,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_RedWine,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_RedWine,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_RedWine,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_RedWine,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_RedWine,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_RedWine,
.dxHtmlEditor_Icons_heSplitTableCellVertical_RedWine,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_RedWine,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_RedWine,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_RedWine,
.dxHtmlEditor_Icons_heMergeTableCellVertical_RedWine,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_RedWine,
.dxHtmlEditor_Icons_heDeleteTable_RedWine,
.dxHtmlEditor_Icons_heDeleteTableDisabled_RedWine,
.dxHtmlEditor_Icons_heDeleteTableColumn_RedWine,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_RedWine,
.dxHtmlEditor_Icons_heDeleteTableRow_RedWine,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_RedWine,
.dxHtmlEditor_Icons_heUnlink_RedWine,
.dxHtmlEditor_Icons_heUnlinkDisabled_RedWine,
.dxHtmlEditor_Icons_heBackColor_RedWine,
.dxHtmlEditor_Icons_heBackColorDisabled_RedWine,
.dxHtmlEditor_Icons_heForeColor_RedWine,
.dxHtmlEditor_Icons_heForeColorDisabled_RedWine,
.dxHtmlEditor_Icons_heRemoveFormat_RedWine,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_RedWine,
.dxHtmlEditor_Icons_hePrint_RedWine,
.dxHtmlEditor_Icons_hePrintDisabled_RedWine,
.dxHtmlEditor_Icons_heCheckSpelling_RedWine,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_RedWine,
.dxHtmlEditor_heToolbarPopOut_RedWine,
.dxHtmlEditor_heToolbarPopOutDisabled_RedWine,
.dxHtmlEditor_heToolbarPopOutHover_RedWine,
.dxHtmlEditor_heConstrainProportionsMiddleOn_RedWine,
.dxHtmlEditor_heConstrainProportionsMiddleOff_RedWine,
.dxHtmlEditor_heConstrainProportionsBottom_RedWine,
.dxHtmlEditor_heConstrainProportionsTop_RedWine,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_RedWine,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_RedWine {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxHtmlEditor_Icons_heCut_RedWine {
    background-position: -48px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCutDisabled_RedWine {
    background-position: -72px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopy_RedWine {
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopyDisabled_RedWine {
    background-position: -24px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePaste_RedWine {
    background-position: -96px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteDisabled_RedWine {
    background-position: -120px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWord_RedWine {
    background-position: -144px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWordDisabled_RedWine {
    background-position: -168px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndo_RedWine {
    background-position: -96px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndoDisabled_RedWine {
    background-position: -120px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedo_RedWine {
    background-position: -48px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedoDisabled_RedWine {
    background-position: -72px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBold_RedWine {
    background-position: -48px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBoldDisabled_RedWine {
    background-position: -72px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalic_RedWine {
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalicDisabled_RedWine {
    background-position: -24px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderline_RedWine {
    background-position: -48px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderlineDisabled_RedWine {
    background-position: -72px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethrough_RedWine {
    background-position: -96px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethroughDisabled_RedWine {
    background-position: -120px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenter_RedWine {
    background-position: -96px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenterDisabled_RedWine {
    background-position: -120px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeft_RedWine {
    background-position: -96px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeftDisabled_RedWine {
    background-position: -120px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRight_RedWine {
    background-position: -144px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRightDisabled_RedWine {
    background-position: -168px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFull_RedWine {
    background-position: -48px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFullDisabled_RedWine {
    background-position: -72px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscript_RedWine {
    background-position: 0px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscriptDisabled_RedWine {
    background-position: -24px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscript_RedWine {
    background-position: -144px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscriptDisabled_RedWine {
    background-position: -168px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndent_RedWine {
    background-position: -96px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndentDisabled_RedWine {
    background-position: -120px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdent_RedWine {
    background-position: -48px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdentDisabled_RedWine {
    background-position: -72px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedList_RedWine {
    background-position: -48px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedListDisabled_RedWine {
    background-position: -72px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedList_RedWine {
    background-position: -144px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_RedWine {
    background-position: -168px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialog_RedWine {
    background-position: -144px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialogDisabled_RedWine {
    background-position: -168px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialog_RedWine {
    background-position: 0px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_RedWine {
    background-position: -24px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialog_RedWine {
    background-position: 0px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialogDisabled_RedWine {
    background-position: -24px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialog_RedWine {
    background-position: -48px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialogDisabled_RedWine {
    background-position: -72px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialog_RedWine {
    background-position: -144px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_RedWine {
    background-position: -168px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialog_RedWine {
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_RedWine {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialog_RedWine {
    background-position: -96px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_RedWine {
    background-position: -120px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAbove_RedWine {
    background-position: -48px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_RedWine {
    background-position: -72px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelow_RedWine {
    background-position: -96px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_RedWine {
    background-position: -120px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_RedWine {
    background-position: -96px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_RedWine {
    background-position: -120px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRight_RedWine {
    background-position: -144px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_RedWine {
    background-position: -168px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontal_RedWine {
    background-position: 0px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_RedWine {
    background-position: -24px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVertical_RedWine {
    background-position: -48px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_RedWine {
    background-position: -72px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontal_RedWine {
    background-position: -144px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_RedWine {
    background-position: -168px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVertical_RedWine {
    background-position: 0px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_RedWine {
    background-position: -24px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTable_RedWine {
    background-position: -96px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableDisabled_RedWine {
    background-position: -120px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumn_RedWine {
    background-position: -144px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_RedWine {
    background-position: -168px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRow_RedWine {
    background-position: 0px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRowDisabled_RedWine {
    background-position: -24px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlink_RedWine {
    background-position: -144px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlinkDisabled_RedWine {
    background-position: -168px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBackColor_RedWine {
    background-position: 0px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heBackColorDisabled_RedWine {
    background-position: -24px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColor_RedWine {
    background-position: -48px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColorDisabled_RedWine {
    background-position: -72px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heRemoveFormat_RedWine {
    background-position: -96px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRemoveFormatDisabled_RedWine {
    background-position: -120px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrint_RedWine {
    background-position: 0px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrintDisabled_RedWine {
    background-position: -24px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpelling_RedWine {
    background-position: -144px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpellingDisabled_RedWine {
    background-position: -168px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_heToolbarPopOut_RedWine {
    background-position: -135px 0px;
    width: 7px;
    height: 7px;
}

.dxHtmlEditor_heToolbarPopOutDisabled_RedWine {
    background-position: -135px -8px;
    width: 7px;
    height: 7px;
}

.dxHtmlEditor_heToolbarPopOutHover_RedWine {
    background-position: -135px -16px;
    width: 7px;
    height: 7px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_RedWine {
    background-position: -19px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOff_RedWine {
    background-position: 0px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottom_RedWine {
    background-position: -38px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTop_RedWine {
    background-position: -38px -14px;
    width: 11px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_RedWine {
    background-position: -109px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_RedWine {
    background-position: -122px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_RedWine {
    background-position: -57px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpBottomRightCorner_RedWine {
    background-position: -70px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpTopLeftCorner_RedWine {
    background-position: -57px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpTopRightCorner_RedWine {
    background-position: -70px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_RedWine {
    background-position: -83px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_RedWine {
    background-position: -96px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_RedWine {
    background-position: -83px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_RedWine {
    background-position: -96px 0px;
    width: 5px;
    height: 5px;
}


