#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
ValvTrak.DNN .sln.docstates.suo
ValvTrak.DNN .sln.docstates.suo
ValvTrak.DNN .suo
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
DB/
Cache/
[Oo]bj/
_ReSharper*/
[Tt]est[Rr]esult*
*.suo
