/*---------------------------------------------------------*/
/*  ___      _  _      _               ___ _          ___  */
/* |   \ _ _| \| |_  _| |_____   ___  | __| |_____ __|_  ) */
/* | |) | '_| .` | || | / / -_) |___| | _|| / -_) \ / / /  */
/* |___/|_| |_|\_|\_,_|_\_\___|       |_| |_\___/_\_\/___| */
/*                                                         */
/*      Skin Styles for DotNetNuke - Flex2 by DrNuke       */
/*              http://www.DrNuke.co.uk/flex2              */
/*       Copyright DrNuke Ltd - All rights reserved        */
/*---------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/* Border																 */
/*-----------------------------------------------------------------------*/
.EMSkinTable { margin:0; padding:0; }
.EMSkinTL { width:18px; height:27px; background:url(../../images/borders/border-4/l.png) repeat-y top left; margin:0; padding:0; }
.EMSkinTL img { width:18px; height:27px; }
.EMSkinTL2 { width:12px; height:27px; background:url() no-repeat #ffffff; margin:0; padding:0; }
.EMSkinTL2 img { width:12px; height:27px; }
.EMSkinT { height:27px; margin:0; padding:0; background:url() no-repeat #ffffff; }
.EMSkinT img { height:27px; }
.EMSkinTR { width:18px; height:27px; background:url(../../images/borders/border-4/r.png) repeat-y top right; margin:0; padding:0; }
.EMSkinTR img { width:18px; height:27px; }
.EMSkinTR2 { width:12px; height:27px; background:url() no-repeat #ffffff; margin:0; padding:0; }
.EMSkinTR2 img { width:12px; height:27px; }
.EMSkinL { width:18px; background:url(../../images/borders/border-4/l.png) repeat-y top left; }
.EMSkinL img { width:18px; height:1px; }
.EMSkinM { background:#ffffff; vertical-align:top; }
.EMSkinR { width:18px; background:url(../../images/borders/border-4/r.png) repeat-y top right; }
.EMSkinR img { width:18px; height:1px; }
.EMSkinBL { width:18px; height:27px; vertical-align:top; background:url(../../images/borders/border-4/l.png) repeat-y top left; margin:0; padding:0; }
.EMSkinBL img { width:18px; height:27px; }
.EMSkinBL2 { width:12px; height:27px; vertical-align:top; background:url() no-repeat #ffffff; margin:0; padding:0; }
.EMSkinBL2 img { width:12px; height:27px; }
.EMSkinB { height:27px; margin:0; background:url() no-repeat #ffffff; }
.EMSkinB img { width:12px; height:27px; }
.EMSkinBR { width:18px; height:27px; vertical-align:top; background:url(../../images/borders/border-4/r.png) repeat-y top right; margin:0; padding:0; }
.EMSkinBR img { width:18px; height:27px; }
.EMSkinBR2 { width:12px; height:27px; vertical-align:top; background:url() no-repeat #ffffff; margin:0; padding:0; }
.EMSkinBR2 img { width:12px; height:27px; }
.EMSkinBL3 { width:18px; height:27px; vertical-align:top; background:url(../../images/borders/border-4/l.png) repeat-y top left; margin:0; padding:0; }
.EMSkinBL3 img { width:18px; height:27px; }
.EMSkinBR3 { width:18px; height:27px; vertical-align:top; background:url(../../images/borders/border-4/r.png) repeat-y top right; margin:0; padding:0; }
.EMSkinBR3 img { width:18px; height:27px; }
.EMSkinB3 { background:#ffffff; }

/* End Style Sheet */
/*----------------------------------------------------*/


