.dxXtraReports_BtnFirstPage_Youthful,
.dxXtraReports_BtnFirstPageDisabled_Youthful,
.dxXtraReports_BtnLastPage_Youthful,
.dxXtraReports_BtnLastPageDisabled_Youthful,
.dxXtraReports_BtnNextPage_Youthful,
.dxXtraReports_BtnNextPageDisabled_Youthful,
.dxXtraReports_BtnPrevPage_Youthful,
.dxXtraReports_BtnPrevPageDisabled_Youthful,
.dxXtraReports_BtnPrint_Youthful,
.dxXtraReports_BtnPrintDisabled_Youthful,
.dxXtraReports_BtnPrintPage_Youthful,
.dxXtraReports_BtnPrintPageDisabled_Youthful,
.dxXtraReports_BtnSave_Youthful,
.dxXtraReports_BtnSaveDisabled_Youthful,
.dxXtraReports_BtnSaveWindow_Youthful,
.dxXtraReports_BtnSaveWindowDisabled_Youthful,
.dxXtraReports_BtnSearch_Youthful,
.dxXtraReports_BtnSearchDisabled_Youthful {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxXtraReports_BtnFirstPage_Youthful {
    background-position: -16px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnFirstPageDisabled_Youthful {
    background-position: -16px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnLastPage_Youthful {
    background-position: -32px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnLastPageDisabled_Youthful {
    background-position: -32px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnNextPage_Youthful {
    background-position: -64px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnNextPageDisabled_Youthful {
    background-position: -64px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrevPage_Youthful {
    background-position: -48px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrevPageDisabled_Youthful {
    background-position: -48px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrint_Youthful {
    background-position: -80px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintDisabled_Youthful {
    background-position: -80px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintPage_Youthful {
    background-position: -96px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintPageDisabled_Youthful {
    background-position: -96px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSave_Youthful {
    background-position: -112px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveDisabled_Youthful {
    background-position: -112px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveWindow_Youthful {
    background-position: -128px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveWindowDisabled_Youthful {
    background-position: -128px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSearch_Youthful {
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSearchDisabled_Youthful {
    background-position: 0px -16px;
    width: 16px;
    height: 16px;
}


