<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>fca001d9-ff09-4cb2-81ca-824026d9bd62</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>fca001d9-ff09-4cb2-81ca-824026d9bd62</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>fca001d9-ff09-4cb2-81ca-824026d9bd62</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>E1F6A3DDDA9E57ECF5EBBD0877BFE526</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
