<?xml version="1.0" encoding="utf-8" ?>
<AnalyticsEngineConfig>
    <Engines>
        <AnalyticsEngine>
            <EngineType>DotNetNuke.Services.Analytics.GoogleAnalyticsEngine, DotNetNuke</EngineType>
            <ElementId>Body</ElementId>
            <InjectTop>False</InjectTop>
            <ScriptTemplate>
                <![CDATA[
            
                <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                </script>

                <script type="text/javascript">
                var pageTracker = _gat._getTracker([TRACKING_ID]);
                pageTracker._trackPageview([PAGE_URL]);
                </script>

            
            ]]>

            </ScriptTemplate>
        </AnalyticsEngine>
    </Engines>
</AnalyticsEngineConfig>
