@import url('css/borders/boxed-3.css');
#Body { background:#d1d1d1 url(images/backgrounds/drnuke_trans_17.png) repeat-x left top fixed; }
p, ul, li, div { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#424242; }
.normal, .Normal, .WizardText { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#424242; }
.NormalBold { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#424242; }
.NormalRed { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#424242; }
a:link, a:visited, a:active { color:#284f99; }
a:hover { color:#678bcf; }
select, input, .NormalTextBox { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#424242; }
.Head { font-family:Arial, Helvetica, sans-serif; color:#284f99; font-size:14px; }
.SubHead { font-family:Arial, Helvetica, sans-serif; color:#575757; font-size:12px; }
h1 { font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#284f99; }
h2 { font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#284f99; }
h3 { font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#284f99; }
h4 { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#284f99; }
h5 { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#284f99; }
h6 { font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#284f99; }
.EMWidth { width:806px; }
.EMFullHeight { }
.EMBaseColour1 { background-color:#ffffff; }
.EMBaseColour2 { background-color:#284f99; }
.EMBaseColour3 { background-color:#284f99; }
.EMBaseColour4 { background-color:#284f99; }
.EMBaseColour5 { background-color:#284f99; }
.EMBaseColour6 { background-color:#284f99; }
.EMLogoContainer { }
.EMLanguageContainer { }
.EMSearchContainer { }
.EMDateContainer { }
.EMBreadcrumbContainer { }
.EMCopyrightContainer { }
.EMTermsContainer { }
.EMPrivacyContainer { }
.EMMainMenuFont { font-family:Arial, Helvetica, sans-serif; }
.EMSubMenuItemOff { color:#757473; }
.EMSubMenuItemOn { color:#284f99; }
.EMSubMenuItemBGOff { background:#ffffff; }
.EMSubMenuItemBGOn { background:#e6e6e6; }
.EMMainMenuItemOff { color:#757473; }
.EMMainMenuItemOn { color:#ffffff; }
.EMMenuArrow { }
.mainmenu-menuitem td img { }
.mainmenu-menuitem td span img { }
.EMSubMenuOpacity { opacity:.90; }
.EMBannerImage { background:url(images/banners/banner-1.jpg) left center no-repeat; }
.EMBannerImageBG { background:url(images/banners/bg/banner-1.jpg) left center repeat-x; }
.EMBannerHeight { height:185px; }
.EMBannerPanePosition { margin:0 0 0 312px; padding:35px 0 0 0; }
.EMBannerPaneWidth { width:378px; }
.EMFontFamily { font-family:Arial, Helvetica, sans-serif; }
.EMFooterFont { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#424242; }
a.EMFooterFont:link, a.EMFooterFont:visited, a.EMFooterFont:active { color:#284f99; }
a.EMFooterFont:hover { color:#678bcf; }
.EMContainerColour1 { background-color:#284f99; }
.EMContainerColour2 { background-color:#4e6fab; }
.EMContainerColour3 { background-color:#707070; }
.EMContainerColour4 { background-color:#8a8a8a; }
.EMContainerColour5 { background-color:#ffffff; }
.EMContainerColour6 { background-color:#ffffff; }
.EMContainerColour7 { background-color:#ffffff; }
.EMContainerColour8 { background-color:#ffffff; }
.EMContainerTitleFontFamily1 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontFamily2 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontFamily3 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontFamily4 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontFamily5 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontFamily6 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontFamily7 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontFamily8 { font-family:Arial, Helvetica, sans-serif; }
.EMContainerTitleFontColour1 { color:#ffffff; }
.EMContainerTitleFontColour2 { color:#ffffff; }
.EMContainerTitleFontColour3 { color:#ffffff; }
.EMContainerTitleFontColour4 { color:#ffffff; }
.EMContainerTitleFontColour5 { color:#284f99; }
.EMContainerTitleFontColour6 { color:#707070; }
.EMContainerTitleFontColour7 { color:#ffffff; }
.EMContainerTitleFontColour8 { color:#ffffff; }
.EMContainerTitleFontSize1 { font-size:14px; }
.EMContainerTitleFontSize2 { font-size:14px; }
.EMContainerTitleFontSize3 { font-size:14px; }
.EMContainerTitleFontSize4 { font-size:14px; }
.EMContainerTitleFontSize5 { font-size:20px; }
.EMContainerTitleFontSize6 { font-size:20px; }
.EMContainerTitleFontSize7 { font-size:14px; }
.EMContainerTitleFontSize8 { font-size:14px; }

